<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
</head>
<body>
    <header>
        <h1>Welcome, {{  }}</h1>
    </header>
    <main>
        <div class="top">
            <p>
                All posted recipes:
            </p>
            <div>
                <a href="/create_recipe">+ Create</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <table>
            <thead>
                <th>Name</th>
                <th>Under 30 Min?</th>
                <th>Posted By</th>
                <th>Actions</th>
            </thead>
            <!-- jinja2 statement below -->
        </table>
    </main>
</body>
</html>