<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
</head>
<body>
    <header>
        <h1>Welcome, {{  }}</h1>
        <div>
            <a href="/to_list">Back to Recipes</a>
            <a href="/logout">Log Out</a>
        </div>
    </header>
    <main>
        <div class="top">
            <h2>Spam Musubi</h2>
            <p>Posted by: {{  }}</p>
        </div>
        <div class="recipe">
            <div id="description">
                <h6>Description</h6>
                <p>{{ }}</p>
            </div>
            <div id="thirty">
                <h6>Under 30 Minutes?</h6>
                <p>{{ }}</p>
            </div>
            <div id="instructions">
                <h6>Instructions</h6>
                <p>{{ }}</p>
            </div>
            <div id="date">
                <h6>Date Made</h6>
                <p>{{ }}</p>
            </div>
        </div>
    </main>
</body>
</html>