<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>HTML Table Assignment</title>
</head>
<body>
    <table class="table table-bordered" style="width: 50%; margin: 20px auto;">
        <!-- table headers = keys and one concatenated combo -->
        <thead>
            <tr>
                <th class="col">First Name</th>
                <th class="col">Last Name</th>
                <th class="col">Full Name</th>
            </tr>
        </thead>
            {% for user in users: %}
            <tr>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['first_name'] + ' ' + user['last_name'] }}</td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>