<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/shows/create/" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="network">Network</label>
        <input type="text" name="network">
        <label for="release_date">Release Date</label>
        <input type="date" name="release_date">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <button type="submit">Update</button>
    </form>
</body>
</html>