<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <header>
        <h1>TV Show {{ show.id }}</h1>
        <a href="/shows">Go Back</a>
    </header>
    <main>
        <div class="info">
            <p>Title: {{ show.title }}</p>
            <p>Network: {{ show.network }}</p>
            <p>Release Date: {{ show.release_date }}</p>
            <p>Description: {{ show.description }}</p>
        </div>
    </main>
    
    <footer>
        <p>Last Updated: {{ show.updated_at }}</p>
        <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a>
    </footer>

</body>
</html>